.root {
    -fx-font-family: "Segoe UI";
}

.button {
    -fx-padding: 12 25 12 25;
    -fx-cursor: hand;
    -fx-font-size: 14px;
}

.text-field {
    -fx-pref-width: 200px;
    -fx-font-size: 14px;
}

.combo-box {
    -fx-pref-width: 200px;
    -fx-font-size: 14px;
}

.label {
    -fx-font-size: 14px;
}